<div class="p-3">
  <a href="/admin/add-user" type="button" class="btn btn-danger">Add new users</a>
</div>
<div >
    <table class="table" id="usertable">
  <thead class="thead-dark">
    <tr>
      
      <th scope="col">First Name</th>
       <th scope="col">last Name</th>
      <th scope="col">email</th>
      <th scope="col">phone</th>
      <th scope="col">options</th>
     

    </tr>
  </thead>
  <tbody>
      {{#each users}}
    <tr>
      <td>{{this.firstName}}</td>
      <td>{{this.lastName}}</td>
      <td>{{this.emailAddress}}</td>
       <td>{{this.phoneNumber}}</td>
        <td>
         
        <a class="btn btn-success" href="updateUser?fName={{this.firstName}}&lName={{this.lastName}}&eMail={{this.emailAddress}}&phNum={{this.phoneNumber}}&id={{this._id}}">Update</a>
         <a class="btn btn-danger" href="deleteUser?id={{this._id}}" onclick="return confirm('Delete {{this.firstName}} ?')" >Delete</a>
        </td>
    </tr>
    {{/each}}
   
  </tbody>
</table>



</div>

<script>

  $(document).ready( function () {
    $('#usertable').DataTable();
} );
  
</script>



